<%= form_for(@library) do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% @library.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :klass_id, "Class" %>
    <%= select(:library, :klass_id, Klass.order("name").all.collect { |k| [k.name, k.id] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
