<div id="spellsheet">
  <h2><%= link_to @library.name, @library %></h2>

  <% if @mode == 'memorizing' %>
    <%= link_to 'Memorizing', spell_sheet_library_path(@library, :format => :html, :mode => 'casting'), :class => 'button' %>
  <% else %>
    <%= link_to 'Casting', spell_sheet_library_path(@library, :format => :html, :mode => 'memorizing'), :class => 'button' %>
  <% end %>

  <div id="memorization_block_container">
    <% if @mode == 'memorizing' %>
      <%= render partial: 'libraries/spell_sheet/learning_memorization_block' %>
    <% else %>
      <%= render partial: 'libraries/spell_sheet/casting_memorization_block' %>
    <% end %>
  </div>

  <h3>Library Overview</h3>

  <ul id="library_summary">
    <% @library.spell_books.each do |spell_book| %>

      <%
        book_klass_spells = spell_book.klass_spell_spell_books.reduce({}) do  |memo, book_klass_spell|
          list = memo[book_klass_spell.klass_spell.level]
          list ||= []
          list << book_klass_spell
          memo[book_klass_spell.klass_spell.level] = list
          memo
        end
      %>

      <li class="book">
        <%= "#{spell_book.name} [#{spell_book.formatted_pages}]" %>
        <ul>
        <% book_klass_spells.keys.sort.each do |level| %>
          <% book_klass_spells_per_level = book_klass_spells[level].sort { |a, b| a.klass_spell.spell.name <=> b.klass_spell.spell.name } %>
          <li>
            Level <%= level %>
            <ul>
              <% book_klass_spells_per_level.each do |book_klass_spell| %>
                <li>
                  <%= book_klass_spell.klass_spell.spell.name %>
                </li>
              <% end %>
            </ul>
          </li>


        <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

  <%= render :partial => 'shared/spell_dialog' %>

</div>