<% content_for :header do %>
  <%= javascript_include_tag :spell_sheet %>
<% end %>

<div id="spellsheet">
  <div id="spellsheet_header">
    <h2><%= link_to @library.name, @library %></h2>
      <%= render partial: 'libraries/spell_sheet/memorization_summary' %>
  </div>

  <button type="button" data-bind="text: modeText, click: toggleMode"></button>

  <div id="memorization_block_container" data-bind="template: {name: 'section-template', foreach: sections }">
  </div>

  <h3>Library Overview</h3>

  <ul id="library_summary">
    <% @library.spell_books.each do |spell_book| %>

      <%
        book_klass_spells = spell_book.klass_spell_spell_books.reduce({}) do  |memo, book_klass_spell|
          list = memo[book_klass_spell.klass_spell.level]
          list ||= []
          list << book_klass_spell
          memo[book_klass_spell.klass_spell.level] = list
          memo
        end
      %>

      <li class="book">
        <%= "#{spell_book.name} [#{spell_book.formatted_pages}]" %>
        <ul>
        <% book_klass_spells.keys.sort.each do |level| %>
          <% book_klass_spells_per_level = book_klass_spells[level].sort { |a, b| a.klass_spell.spell.name <=> b.klass_spell.spell.name } %>
          <li>
            Level <%= level %>
            <ul>
              <% book_klass_spells_per_level.each do |book_klass_spell| %>
                <li>
                  <%= book_klass_spell.klass_spell.spell.name %>
                </li>
              <% end %>
            </ul>
          </li>


        <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

  <%= render :partial => 'shared/spell_dialog' %>

</div>

<div id="memorize_spell_dialog">
  <div id="memorize_spell_content"></div>
</div>

<script type="text/javascript">
  var viewModel = null;
  $(document).ready(function() {

    $("#memorize_spell_dialog").dialog({width: "600px", autoOpen: false, dialogClass: 'fixed-dialog'});

    viewModel = new SpellSheetModel(<%= @initial_json_data.html_safe %>);
    ko.applyBindings(viewModel);
  });
</script>

<script type="text/html" id="section-template">

    <!-- ko foreach: levels -->
      <div class="level_header"><h4>Level <span data-bind="text: level"></span></h4></div>

      <!-- ko foreach: spells -->
        <div data-bind="css: { 'memorization_spell': true, 'memorized': numberMemorized() > 0, unknown: !isLearned() }">
          <div class="spell_controls">
            <span class="spell_name">
              <a data-remote="true" data-bind="text: name, attr: { href: detailsUrl }"></a>
            </span>
            <br />
            <a class="button" data-bind="attr: { href: quickMemorizeUrl }" data-method="post" data-remote="true">+</a>
            <a class="button" data-bind="attr: { href: castUrl }" data-method="post" data-remote="true">-</a>
            <a class="button" data-bind="attr: { href: memorizeUrl }" data-remote="true">Custom</a>
          </div>

          <div data-bind="text: numberMemorized" class="number_memorized"></div>

          <div class="spell_details">
            <span class="spell_name">
              <a data-remote="true" data-bind="text: name, attr: { href: detailsUrl }"></a>
            </span>
            <span data-bind="text: components" class="spell_components"></span>
            <span data-bind="text: school" class="spell_school"></span><br/>
            <span data-bind="text: description" class="spell_description"></span>
          </div>
          <br style="clear: both;" />
        </div>

      <!-- /ko -->

      <br class="clear" />
    <!-- /ko -->

</script>