<p id="notice"><%= notice %></p>

<h1><%= @spell_book.library.name %></h1>
<h2><%= @spell_book.name %></h2>

<br />
<h2>Add Spell</h2>
<%= form_tag list_spells_spell_book_path(@spell_book), :remote => true, :id => "spell_filter_form" do %>
  Level <%= select(:spell_filter, :level, @levels) %>
<% end %>

<%= form_tag add_spell_spell_book_path(@spell_book), :remote => true, :id => "available_spells_form" do %>
  <div id="available_spells">
  </div>
  <%= submit_tag "Add" %>
<% end %>

<br />
<h2>Current Spells</h2>
<div id="current_spells"></div>
<br />

<%= link_to 'Edit', edit_spell_book_path(@spell_book) %> |
<%= link_to 'Back', library_path(@spell_book.library_id) %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#spell_filter_form").submit();
  });

  $("#available_spells_form").bind("ajax:complete", function() {
    $("#spell_filter_form").submit();
  });

  $("#spell_filter_level").change(function() {
    $("#spell_filter_form").submit();
  });

</script>
