<div class="detailed_spell_block">
  <h1><%= @spell.name %></h1>

  <strong>School</strong> <%= @spell.formatted_school %>;

  <% klasses = @spell.klass_spells.sort { |a, b| a.klass.name <=> b.klass.name } %>

  <strong>Level</strong> <%= klasses.map { |ks| "#{ks.klass.name} #{ks.level}" }.join(", ") %>

  <h2>CASTING</h2>

  <strong>Casting Time</strong> <%= @spell.casting_time %><br />
  <strong>Components</strong> <%= @spell.components %><br />

  <h2>EFFECT</h2>

  <%= effect_block("Range", @spell.range) %>
  <%= effect_block("Area", @spell.formatted_area) %>
  <%= effect_block("Target", @spell.targets) %>
  <%= effect_block("Effect", @spell.effect) %>
  <%= effect_block("Duration", @spell.formatted_duration) %>
  <%= effect_block("Saving Throw", "#{@spell.saving_throw}; <strong>Spell Resistance</strong> #{@spell.spell_resistence}") %>

  <h2>DESCRIPTION</h2>

  <%= @spell.description %>
</div>