<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="pathfinder spell management">
  <meta name="author" content="Dan Elbert">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Spellsheet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= yield :header %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div id="headerBar" class="sixteen columns">
    <div id="title" class="ten columns alpha">
      <h1>Spellsheet</h1>
    </div>
    <div id="navContainer" class="six columns omega">
      <%= link_to "Libraries", libraries_path %>
      <%= link_to "Spells", spells_path %>
    </div>
  </div>
  <div id="headerSeparator" class="sixteen columns"></div>

  <div id="flashRow" class="sixteen columns">
    <%= render :partial => 'layouts/flash_message' %>
  </div>
  <div class="sixteen columns content">
    <%= yield %>
  </div>

  <div id="footer" class="two columns offset-by-fourteen">
    &copy; 2013 Dan Elbert
  </div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43443120-1', 'elbertkarsten.com');
  ga('send', 'pageview');

</script>

</body>
</html>
